.BotCard {
  position: relative;
  flex-basis: 33%;
  margin-bottom: 25px;
  border: 2px solid black;
  &__Header {
    padding: 10px 25px;
    border-bottom: 2px solid black; 
    h3 { 
      width: 100%;
    }
  }
  img {
    width: 100%;
    height: auto !important;
  }
  &__Footer {
    border-top: 2px solid black;
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;
    &--Type {
      text-transform: capitalize;
    }
  }
}
