REACT_APP_API_HOST=https://data.gittron.me/dev/
REACT_APP_MAIN_API_HOST=https://data.gittron.me/v1/
REACT_APP_REMOTE_WEB3_PROVIDER=https://rinkeby.infura.io/v3/459626663bcf4ae4bcc5cd9b3c8f9ed6
REACT_APP_MAIN_REMOTE_WEB3_PROVIDER=https://infura.io/v3/459626663bcf4ae4bcc5cd9b3c8f9ed6
REACT_APP_CONTRACT_ADDRESS=0xfb6ff3d0eba6b8e69fceb04afe5f230611a34a36
REACT_APP_MAIN_CONTRACT_ADDRESS=0x162d3e80d51f96240ae0a44ab3a5b1ea23920ce4