@import '../../../styles/variables';

.BotList {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  > a {
    position: relative;
    flex-basis: 33%;
    margin-bottom: 25px;
    @media (max-width: 1100px) {
      flex-basis: 50%;
    }
    @media (max-width: $tablet) {
      flex-basis: 100%;
    }
  }
}
