@import '../../../styles/variables';

.BotDetail {
  padding-top: 50px;
  &__Info {
    text-align: left;
    padding-left: 25px;
    flex-basis: 50%;
    @media (max-width: $tablet) {
      flex-basis: 100%;
      padding-left: 0px;
    }
  }
  &__Verification-Badge {
    color: red;
  }
  &__Actions {
    max-width: 300px;
    border: 2px solid black;
    &--Support {
      padding: 25px;
      border-bottom: 2px solid black;
    }
    &--Buidl {
      padding: 25px;
      border-bottom: 2px solid black;
    }
    &--Owner {
      padding: 25px;
    }
    button {
      width: 100%;
    }
  }
  a {
    text-decoration: underline;
  }
}
