@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');
@import './styles/variables';

body {
  margin: 0;
  padding: 0;
  font-family: 'Share Tech Mono', monospace;
  background-color: white;
  color: black;
  font-weight: 400;
}

.App {
}

.App-logo {
  height: 40vmin;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

a {
  color: black;
  text-decoration: none;
}

.Contain {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.PageHeader {
  min-height: 100vh;
  width: 100%;
  background: black;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  &__Contents {
    max-width: 800px;
    margin: 0 auto;
  }
}

.Block {
  min-height: 50vh;
  width: 100%;
  &__Contents {
    max-width: 800px;
    margin: 0 auto;
  }
}

// Columns

.Columns {
  display: flex;
  &__Column {
    &--33 {
      flex-basis: 33%;
      padding-right: 25px;
    }
    &--50 {
      flex-basis: 50%;
    }
  }
}


// Utils

.Capitalize {
  text-transform: capitalize;
}

button {
  appearance: none;
  border: none;
  background: black;
  color: white;
  padding: 10px 25px;
  font-size: 1em;
  outline: none;
  border: 2px solid transparent;
  transition: all .15s linear;
  font-family: $base-font;
  cursor: pointer;
  &:hover {
    background: #5F5FFF;
    color: white;
  }
}